html { 
      background-color: #222930;
      
}  

header {
      font-family: 'Georgia',sans-serif,serif;
      color: #222930;
      margin: 2rem 22rem 2rem 23rem;
      padding: 1rem;
      font-size: 85%;
      border: 0.2rem solid rgb(128, 0, 0);
      border-radius: 1rem;
      width: 40rem;
      background-color: #DDDDDD;
      text-align: center;
      
}  
nav ul li {
      display: inline;
}

aside#sidebar ul li { 
      display: inline;
}

h2 {
      text-align: center;
}

p {
  width: 65rem;
}

a.active {
      
      font-weight: bold;
      font-family: 'Georgia',sans-serif,serif;
      color: #222930;
}

aside#sidebar{
      
      width: 16rem;
      float: right;
      font-family:'Georgia',sans-serif,serif;
      line-height: 1.25;
      color: #222930;
      background-color: #DDDDDD;
      border: 0.2rem solid rgb(128, 0, 0);
      border-radius: 1rem;
      margin: 3rem 3rem 47rem 8rem;
      padding: 1rem;
      
}

header.active {
  
      font-family:'Georgia',sans-serif,serif;
      color: #222930;
      padding: 1.5rem;

}




#content {
      
      font-family:'Georgia', sans-serif, serif;
      font-size: 120%;
      color: #DDDDDD;
      text-align: justify;
      width: 55rem;
      margin: 2rem 10rem 5rem 15rem;
      border-radius: 1rem;
      padding: 1rem;

}

#selected_works {
      
      font-family:'Georgia', sans-serif, serif;
      font-size: 112%;
      color: #222930;
      text-align: justify;
      width: 55rem;
      margin: 2rem 15rem 5rem 10rem;
      border-radius: 1rem;
      padding: 1rem;
      background-color: #DDDDDD;
}

.bio-photo img{
      
      float: left;
      margin: 1rem;
      padding: .5rem;
      border-radius: 1rem;
}

.bottom-nav  {
    
      font-family:'Georgia',sans-serif,serif; 
      color: #222930;
      margin: 1rem; 
      padding: 1.5rem;
      font-size: medium;
      border: 0.2rem solid rgb(128, 0, 0);
      border-radius: 1rem;
      width: 250px;
      background-color: #DDDDDD;
      text-align: center;
}
.smalltext {
  
      color: #DDDDDD;
}

a:link {
    color: #8FBC8F;
}

/* visited link */
a:visited {
    color: rgb(128, 0, 0);
}

/* mouse over link */
a:hover {
    color: #FF7F50;
}

/* selected link */
a:active {
    color: #DDDDDD;
}



  